body {
    font-family: 'Gantari', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: darkmagenta;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-whdth {
    width: 50%;
    padding-left: 2%;
}

.half-whdth img {
    width: 80px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 50px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experence-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 40px gray;

}

#full-stack-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;

}