body {
    font-family: 'Gantari', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: darkmagenta;
}

section {
    display: flex;
}

.half-whdth {
    width: 50px;

    padding: 5%;
}


.half-whdth img {
    width: 80px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 50px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}